<div class="card no-bottom">
    <div class="card-header ch-alt">
        <div class="media">
            <div class="pull-left">
                <img class="media-object img-small" firebase-src="{{data.img}}" alt="">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{data.name}}</h4>
                <h5><i class="zmdi zmdi-pin"></i> {{data.address}}</h5>
                <small>{{data.desc}}</small>
            </div>
        </div>

        <ul class="actions">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a ng-click="openInGeo(data.latitude, data.longitude)">Ver no mapa</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="map" id="map"></div>