<div class="text-center bounceInLeft animated">
	<form>
		<div class="lc-block" ng-class="{ 'toggled': true }">
			<div class="input-group m-b-10">
				<img class="lc-logo" ng-src="{{ 'logo-min.png' | image }}"/>
			</div>
		    <div class="clearfix"></div>

		    <div class="input-group m-b-20">
		        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
		        <div class="fg-line">
		            <input type="text" class="form-control" ng-model="data.email" placeholder="Email">
		        </div>
		    </div>

		    <div class="input-group m-b-20">
		        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
		        <div class="fg-line">
		            <input type="password" class="form-control" ng-model="data.password" placeholder="Senha">
		        </div>
		    </div>

		    <div class="input-group m-b-20">
		        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
		        <div class="fg-line">
		            <input type="password" class="form-control" ng-model="data.confirmpassword" placeholder="Confirmar senha">
		        </div>
		    </div>

		    <div class="clearfix"></div>

		    <button type="submit" ng-click="createUser()" class="btn btn-login btn-purple btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>

		    <div class="pull-right">
		    	<a ui-sref="account.login()" class="a-purple"> Já tem conta?</a>
			</div>
		</div>
	</form>
</div>