<div class="row">
    <div class="card">
        <div class="card-header ch-alt">
            <h2>
            	{{user.establishment.name}}
            </h2>
        </div>
        <div class="card-body card-padding row">
            <div class="row pull-center col-md-12">
                <h2>Obrigado pela sua visita!</h2>
                <div ng-show="reward">
                	<h3>Você resgatou o produto: <b>{{reward.name}}</b>,<br>
                	mostre ao atendente para poder receber o produto.</h3>
                </div>
            </div>
        </div>
    </div>

    <button type="button" ng-click="back()" class="btn btn-finish m-b-20 btn-purple btn-lg waves-effect">Voltar</button>
</div>