<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unitdev.pontuahAdmin" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pontuah Admin</name>
    <description>
        App de fidelidade na palma da sua mão.
    </description>
    <author email="contato@unitdev.com.br" href="http://unitdev.com.br">
        UnitDEV
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-googlemaps" spec="^2.2.9">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyAPYdjZZgK-j1PHTrOpOAREWwlz_OnQ4CQ" />
        <variable name="PLAY_SERVICES_VERSION" value="12.0.0" />
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="24.1.0" />
    </plugin>
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.1" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <universal-links>
        <host name="quc5n.app.goo.gl" scheme="https" />
        <host name="pontuah-ee5a0.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <preference name="AndroidLaunchMode" value="singleTask" />
    <plugin name="cordova-universal-links-plugin" spec="https://github.com/walteram/cordova-universal-links-plugin" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="com.unitdev.pontuah" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <platform name="android">
        <icon density="xxhdpi" src="res/icon/android/iconnew.png" />
    </platform>
    <engine name="android" spec="^7.0.0" />
</widget>
