<div class="card">
    <div class="card-header ch-alt">
    	<h2>
    		Visita de Cliente
    		<small>Digite o CPF do cliente para poder dar os pontos de visita.</small>
    	</h2>
    </div>
    <div class="card-body card-padding">
		<form role="form" ng-submit="onSend()" class="ng-pristine ng-valid">
		    <div class="form-group fg-line">
		        <label for="exampleInputEmail1">CPF</label>
		        <input type="text" class="form-control input-sm" ng-model="data.document" placeholder="Digite o CPF" mask="999.999.999-99" required>
		    </div>

		    <button type="submit" class="btn btn-purple btn-sm m-t-10 waves-effect">Enviar</button>
		</form>
    </div>
</div>
